
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    color: #FFF;
}

.lista-filmes article{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 6px;
    width: 90%;
}

.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.lista-filmes p{
    margin-top: 15px;
    margin-bottom: -20px;
    justify-content: center;
    font-size: 40px;
    display: flex;
    color: #FFFC00;
}

.lista-filmes img{
    width: 700px;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #FFFC00;
    text-decoration: none;
    color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: auto;
}

.lista-filmes a:hover{
    background-color: rgba(0, 0, 0, .9);
    color: #FFFC00;
    transition: all 0.5s;
}