.filme-info{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 6px;
    width: 90%;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    border-radius: 6px;
    width: 800px;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;
    text-align: justify;
}

.filme-info strong{
    margin: 4px 0;
    text-align: justify;
}

.area-buttons button{
    margin-top: 14px;
    margin-right: 12px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #FFFC00;
    transition: all 0.5s;
}

.area-buttons button:hover{
    background-color: #000;
    color: #FFFC00;
}

.area-buttons a:hover{
    background-color: rgba(0, 0, 0, .9);
    color: #FFFC00;
    transition: all 0.5s;
}

.area-buttons a{
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}