
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Hind', sans-serif;
  background-color:#000000e6;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

/*    COMPONENTE HEADER   */
  .cabecalho{
    @apply w-full h-16 bg-yellow flex items-center md:justify-evenly
  }

  .logo-header{
    @apply text-4xl font-black mx-6 md:mx-12
  }

  .botao-header{
    @apply font-bold bg-black text-yellow rounded-md p-2 h-10 mr-2
  }
}

/*    ERRO 404    */
  .erro-titulo{
    @apply h-[80vh] flex flex-col items-center justify-center text-center text-lg text-yellow
  }
  .botao-home{
    @apply text-xl font-bold bg-yellow text-black rounded-md p-3 h-12 mt-4 w-60
  }

/*    HOME    */
  .lista-filmes{
    @apply flex flex-col my-4
  }
  .loading{
    @apply flex items-center justify-center mt-4 text-yellow bg-yellow 
  }
  .lista-filmes p{
    @apply text-yellow font-bold text-4xl  text-center my-2
  }
  .lista-filmes article{
    @apply w-[90%] rounded-md p-4 bg-yellow mb-6 m-auto
  }
  .lista-filmes img{
    @apply border-4 border-black rounded-md 
  }



/*    FAVORITOS    
  .meus-filmes{
    @apply flex flex-col mt-4 items-center text-yellow
  }
  .meus-filmes ul{
    @apply w-screen 
  }
  .meus-filmes ul li{
    @apply justify-start items-center p-2	
  }
  .meus-filmes div{
    @apply flex justify-end items-center
  }
  .meus-filmes div a{
    @apply mr-4
  }
  .titulo{
    @apply mb-4 text-4xl
  }
  .botao-excluir{
    @apply font-bold bg-yellow text-black rounded-md p-2 h-10 mr-2
  }
*/