
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Hind', sans-serif;
  background-color:#191919;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

/*    COMPONENTE HEADER   */
  .cabecalho{
    @apply w-full h-16 bg-yellow flex items-center justify-center
  }

  .logo-header{
    @apply text-4xl font-black mx-6 md:mx-12
  }

  .botao-header{
    @apply font-bold bg-black text-yellow rounded-md p-2 h-10 mr-2
  }
}

/*    ERRO 404    */
  .erro-titulo{
    @apply h-screen flex flex-col items-center justify-center text-center text-lg text-yellow -mt-16
  }
  .botao-erro{
    @apply text-xl font-bold bg-yellow text-black rounded-md p-3 h-12 mt-2
  }

/*    HOME    */
  .loading{
    @apply flex items-center justify-center mt-4 text-black bg-yellow
  }
  .lista-filmes{
    @apply flex-col h-full flex justify-center items-center
  }
  .titulo-home{
    @apply text-yellow mb-3 mt-4 font-bold text-4xl text-center items-center
  }
  .container-filme{
    @apply block w-11/12 rounded-md p-4 mb-4 bg-white
  }
  .titulo-filme{
    @apply block text-black font-bold text-xl text-center items-center -mt-1 mb-1 
  }
  .poster-filme{
    @apply rounded-t-md justify-center items-center flex h-full w-full object-cover
  }
  .botao-home{
    @apply flex items-center justify-center text-xl font-bold bg-black text-yellow rounded-t-none	rounded-b-md h-14 
  }
  .botao-home:hover{
    @apply bg-yellow text-black 
  }

/*    TOP 20 FILMES    */
  .loading{
    @apply flex items-center justify-center mt-4 text-black bg-yellow
  }
  .lista-filmes{
    @apply flex-col h-full flex justify-center items-center
  }
  .titulo-top20{
    @apply text-yellow mb-3 mt-4 font-bold text-4xl text-center items-center
  }
  .container-top20{
    @apply block w-11/12 rounded-md p-4 mb-4 bg-white
  }
  .titulo-filme{
    @apply block text-black font-bold text-xl text-center items-center -mt-1 mb-1 
  }
  .poster-filme{
    @apply rounded-t-md justify-center items-center flex h-full w-full object-cover
  }
  .botao-top20{
    @apply flex items-center justify-center text-xl font-bold bg-black text-yellow  rounded-t-none	rounded-b-md h-14 
  }
  .botao-top20:hover{
    @apply bg-yellow text-black
  }

/*    FILME-INFO    */
  .loading{
    @apply flex items-center justify-center mt-4 text-yellow bg-white
  }
  .filme-info{
    @apply flex-col h-full flex justify-center items-center
  }
  .container-filme-info{
    @apply block w-11/12 rounded-md p-4 my-3 bg-white
  }
  .titulo-filme-info{
    @apply block text-black font-bold text-xl text-center items-center -mt-1 mb-1 
  }
  .poster-filme-info{
    @apply  rounded-md justify-center items-center flex h-full w-full object-cover mb-2
  }
  .sinopse{
    @apply text-justify flex mb-2
  }
  .lancamento{
    @apply flex my-2
  }
  .nota-filme{
    @apply flex mb-2 -mt-2
  }
  .botao-adicionar{
    @apply font-bold bg-black text-yellow rounded-md p-2 w-full h-10 my-1
  }
  .botao-trailer{
    @apply font-bold bg-black text-yellow rounded-md p-2 w-full h-10
  }



/*    FAVORITOS    
  .meus-filmes{
    @apply flex flex-col mt-4 items-center text-yellow
  }
  .meus-filmes ul{
    @apply w-screen 
  }
  .meus-filmes ul li{
    @apply justify-start items-center p-2	
  }
  .meus-filmes div{
    @apply flex justify-end items-center
  }
  .meus-filmes div a{
    @apply mr-4
  }
  .titulo{
    @apply mb-4 text-4xl
  }
  .botao-excluir{
    @apply font-bold bg-yellow text-black rounded-md p-2 h-10 mr-2
  }
*/